<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index_new_css.css') }}">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% if i == 1 %}
    <script>
        $(document).ready(function(){
            $("#mymodal1").modal('show');
        });
    </script>
    {% endif %}
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <!-- Vrchny JBtron -->
    <div class="jumbotron p-3">
        <div class = "well text-center">
          <h1>{% block heading %}{% endblock %}<h1>
    </div>
    </div>
    <!-- Vrchny JBtron -->



{% block body %}
{% endblock %}

<!-- forma na parovanie tagov -->
<div id="mymodal" class="modal fade" role = "dialog" tabindex="-1">
                <div class= "modal-dialog">
                <div class= "modal-content">
                    <div class= "modal-header">

                        <h4 class="modal-title">Spárovať tag</h4>
                    </div>
                    <div class="modal-body">

                        <form action ="{{url_for('insert')}}" method="POST">


                        <div class="form-group">
                            <label>Čiarový kód 1</label>
                            <input type="text" onClick="this.setSelectionRange(0, this.value.length)" class="form-control" name="tag_id" required="1" >

                        </div>

                        <div class="form-group">
                            <label>Čiarový kód 2</label>
                            <input type="text" onClick="this.setSelectionRange(0, this.value.length)" class="form-control" name="object_id" required="1">

                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Spárovať tag</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavrieť</button>
                        </div>

                        </form>

                    </div>
                  </div>
                </div>
              </div>
<!-- forma na parovanie tagov -->

<!-- forma na odparovanie tagov -->
<div id="mymodal1" class="modal fade" role = "dialog" tabindex="-1">
  <div class= "modal-dialog">
  <div class= "modal-content">
      <div class= "modal-header">

          <h4 class="modal-title">Odpárovať tag</h4>
      </div>
      <div class="modal-body">

          <form action ="{{url_for('unpair')}}" method="POST">

          <div class="form-group">
              <label>RTLS Tag ID</label>
              <input type="text" onClick="this.setSelectionRange(0, this.value.length)" class="form-control" name="tag_id" required="1">

          </div>


          <div class="form-group">
              <button class="btn btn-primary" type="submit">Odpárovať tag</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavrieť</button>
          </div>

          </form>

      </div>
    </div>
  </div>
</div>
<!-- forma na odparovanie tagov -->


<!-- Forma na lokalizáciu -->
<div id="mymodal5" class="modal fade" role = "dialog"  tabindex="-1">
  <div class= "modal-dialog">
  <div class= "modal-content">
      <div class= "modal-header">

          <h4 class="modal-title">Lokalizácia tagu</h4>
      </div>
      <div class="modal-body">

          <form action ="{{url_for('locate')}}" method="POST">

          <div class="form-group">
              <label>Čiarový kód</label>
              <input type="text" onClick="this.setSelectionRange(0, this.value.length)" class="form-control" name="tag_id" required="1">

          </div>


          <div class="form-group">
              <button class="btn btn-primary" type="submit">Lokalizovať</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavrieť</button>
          </div>

          </form>

      </div>
    </div>
  </div>
</div>
<!--Forma na lokalizáciu-->

<!-- Forma na preparovanie -->
<div id="mymodal5" class="modal fade" role = "dialog"  tabindex="-1">
  <div class= "modal-dialog">
  <div class= "modal-content">
      <div class= "modal-header">

          <h4 class="modal-title">Lokalizácia tagu</h4>
      </div>
      <div class="modal-body">

          <form action ="{{url_for('unpair')}}" method="POST">

          <div class="form-group">
              <label>Zadaný kód {{% code1 %}} je už spárovaný. Chcete ho prepárovať s vami zadaným kódom {{% code2 %}} :</label>
              
          </div>


          <div class="form-group">
              <button class="btn btn-primary" type="submit">Lokalizovať</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavrieť</button>
          </div>

          </form>

      </div>
    </div>
  </div>
</div>
<!--Forma na preparovanie-->



<!-- java scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  </body>
</html>
