#btn1{
  width: 130px;
  height: 130px;
  text-align: middle;
  vertical-align:middle;
  padding: 0px;
  margin:30px;
}

#row1{


}

#logged{
  width: 450px;
  height: 65px;
  background-color: grey;
  padding 0 px;
  margin 5 px;
  text-align:center;
}

#cont1{
  padding 0 px;
  margin 5 px;

}

#login{
  background-color: silver;

}

#btn_login{
  background-color: forestgreen;
}
