{% extends 'base.html' %}

{% block title %} Locate Tags {% endblock %}

{% block heading %} Locate Tags {% endblock %}
{% block body %}

<div class = "container">
<!-- dropdown menu -->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Tag
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
{% for row in paired_tags %}
    <a class="dropdown-item" href="/locate_tag/{{row.tag_id}}">{{row.tag_id}}</a>
 {% endfor %}
  </div>
</div>
<!-- dropdown menu -->


  <div class="text-center">
<img src="{{ url_for('static',filename= img_path) }}" class="mx-auto d-block img-thumbnail"  alt="Responsive image">
</div>
</div>

















{% endblock %}
